# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyt
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
*.manifest
*.spec

# Virtual environments
venv/
env/
.venv/
.env/
.venv

# PyCharm
.idea/
*.iml
*.ipr
*.iws

# Environment files
.env
.env.*

# Database file
users.db